
.container {
  padding: 7px 15px 38px;
  //position: relative;
  //margin: 0 auto;
  background-color: #dddddd;
}
.container .head{
  background: #4e6070;
  margin: 0 auto;
  margin-bottom: 5px;
}
//.container .chartsbody .el-row p{
//  text-align:center;
//  padding: 2px 0;
//  border-bottom:1px solid rgba(128, 128, 128,0.5);
//}

