.reportrow{
padding-top: 10px;
}
.app-container {
  padding: 15px 38px 38px;
  position: relative;
  margin-top: 0px;
  background-color: #f6f6f6;
  //position: absolute;
  //z-index: -1;
  //padding-top: 15px;
}
